.gallery-content {
    padding: 24px;

}

.gallery-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    width: 80px;
    object-fit :cover;
}

.gallery-image-container {

    padding: 8px;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 12px;
    position: relative;

    
}

.upload{
    padding: 8px;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 200px;
    width: 10px;
    margin: 12px;
    position: relative;
}

.image-detail-container {
    text-align: left;
    padding: 8px;
   
}

.image-detail {
    padding: 12px;
    border-radius: 2px;
   
}

.image-detail-meta {
    padding : 12px;
    border: solid 2px;
}

.submit {
    padding: 2%;
}

.edit{
    padding: 2%
}

.delete{
    padding: 2%
}

.btn-file {
    margin: 6px;
    border:medium;
}

#upload-form {
    padding: 10px;
    margin: auto;
    
    
}

.upload-container {
    padding: 2%;
    height: auto;
    width: auto;
    position:center;
   
}

.drop-shadow {
    box-shadow: 010px 18px rgba(0, 0,0, 0.2), 0 5px 5px rgba(0,0,0,0.2);
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;    
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4px;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
