@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a asp-controller="Account" asp-action="Register">Register</a>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome to PhotoShare</h1>
    <p><a>This is a free photo sharing web page</a>.</p>
</div>
<div>
    <a asp-controller="Account" asp-action="Register">Register</a>
</div>
