@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to PhotoShare</h1>
    <p><h5><a>This is a free photo sharing web page</a></h5></p>    
    <p> <h3 style="color:red">Please Login or register</h3></p>

</div>

